*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
.wrapper{
    max-width: 1512px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    /* position: relative; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 61px;
    background: #FFF;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    height: 100px;
    width: 100%;
}
.nav_btn{
    display: flex;
    align-items: center;
    gap: 18px;
}
.nav_btn button{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: #13A89E;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    border: 1px solid #13A89E;
    background-color: none;
}
.nav_btn button:hover{
    border-radius: 20px;
    background: #13A89E;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
    color: white;
}




/* header */

.header{
    background-image: url(./img/jezael-melgoza-layMbSJ3YOE-unsplash\ 1.png);
    /* background-size: cover; */
    width: 100%;
    height: 100vh;    
    background-repeat: no-repeat;
}
.text{
    width: 772px;
    height: 100vh;
    background: rgba(19, 168, 158, 0.50);
    backdrop-filter: blur(2.5px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 150px 50px;
    z-index: 0;
}
.text h1{
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 90px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 22.5px;
    color: white;
}
.text p{
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 24px;
}
.text span{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
}
.inp_btn_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 5px;
    margin-top: -140px;
    z-index: 3;
    position: relative;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    width: 1000px;
    height: 50px;
    flex-shrink: 0;
}
.inp_btn_header button{
    width: 150px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #13A89E;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 3.75px;
}
.inp_btn_header button:hover{
    background-color: white;
    border: 2px solid #13A89E;
    color: #13A89E;
}
.inp_btn_header input{
    border: none;
    padding-left: 10px;
    margin-left: 20px;
    outline: none;
    width: 400px;
    height: 40px;
}
::placeholder{
    color: rgba(0, 0, 0, 0.20);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 3.75px;
}
.section2 {
    padding: 89px 131px 113px 191px;
}


.section2>p {
    padding-left: 410px;
    color: #000;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 500;
}


.section2>p>span {
    color: #13A89E;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 500;
}



#rams1 {
    position: absolute;
    top:3023px;
left: 471.22px;
z-index: 100000;
}


#rams2 {
    position: absolute;
    top:3059.7px;
    left:801.51px;
    z-index: 9999;
}


#rams3 {
    position: absolute;
    top:3096.4px;
    left:-7.32px;
}
#rams4 {
    position: absolute;
    top:3059.7px;
    left:211.4px;
    z-index: 9999;
}

#rams5 {
    position: absolute;
    top:3096.4px;
    left:1167.02px;
}