.section2 {
    padding: 89px 131px 113px 191px;
}


.section2>p {
    padding-left: 410px;
    color: #000;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 500;
}


.section2>p>span {
    color: #13A89E;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 500;
}