


#rams1 {
    position: absolute;
    top:3023px;
left: 471.22px;
z-index: 100000;
}


#rams2 {
    position: absolute;
    top:3059.7px;
    left:801.51px;
    z-index: 9999;
}


#rams3 {
    position: absolute;
    top:3096.4px;
    left:-7.32px;
}
#rams4 {
    position: absolute;
    top:3059.7px;
    left:211.4px;
    z-index: 9999;
}

#rams5 {
    position: absolute;
    top:3096.4px;
    left:1167.02px;
}